
.admin-navbar {
  background: --color-azul-oscuro;
  color: white;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 10px var(--color-azul-oscuro);;
}

.navbar-brand h2 {
  margin: 0;
  font-size: 1.5rem;
  color: --color-gris;
}

.navbar-tabs {
  display: flex;
  gap: 1rem;
}

.navbar-tabs button {
  background: transparent;
  border: 2px solid var(--color-gris);;
  color: #ecf0f1;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
}

.navbar-tabs button:hover {
  background: --color-azul-medio;
  border-color: ---color-azul-claro;
}


.navbar-tabs button.active {
  background: --color-azul-oscuro;
  border-color: ---color-azul-claro
}

.logout-btn {
  background: --color-naranja;
  border: none;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.logout-btn:hover {
  background: --color-naranja;
}