.admin-navbar {
  background: var(--color-azul-oscuro);
  color: white;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 10px var(--color-azul-oscuro);;
}


.navbar-brand h2 {
  margin: 0;
  font-size: 1.5rem;
  color: var(--color-gris);
}

.navbar-tabs {
  display: flex;
  gap: 1rem;
}

.navbar-tabs button {
  background: var(--color-azul-claro);
  border: 2px solid var(--color-gris);;
  color: #ecf0f1;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
}

.navbar-tabs button:hover {
  background: var(--color-azul-medio);
  border-color: var(--color-azul-claro);
}


.navbar-tabs button.active {
  background: var(--color-azul-oscuro);
  border-color: var(--color-azul-claro);
}

.logout-btn {
  background: var(--color-naranja);
  border: none;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.logout-btn:hover {
  background: var(--color-naranja);
}

/* AdminNavbar.css */
.dropdown-menu {
  background: var(--color-azul-oscuro);
  border: 1px solid #ccc;
  border-radius: 4px;
  min-width: 220px;
  z-index: 100;
  padding: 0.5rem 0;
}

.dropdown-item {
  display: block;
  width: 100%;
  text-align: left;      /* <-- Alinea el texto a la izquierda */
  padding: 0.5rem 1.5rem;/* <-- Indenta el contenido */
  background: none;
  border: none;
  cursor: pointer;
  font-size: 0.8rem;
}

.dropdown-item:hover {
  background: var(--color-azul-oscuro);
}

.btn-exito {
  background: var(--color-azul-oscuro);
  color: white;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.btn-exito:hover,
.btn-exito:focus {
  background: var(--color-azul-oscuro);
}

.btn-primary {
  background: white; /* Usa tu variable o un azul por defecto */
  color: white;
  border: none;
  padding: 0.5rem 1.2rem;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background 0.2s;
}

.btn-primary:hover,
.btn-primary:focus {
  background: var(--color-azul-oscuro);
}